.contact {
    padding-bottom: 100px;
    .contactHeader {
        text-align: center;
        margin-top: 0;
        color: $sec;
        font-size: 40px;
        padding-top: 100px;
        margin-bottom: 50px;
    }
    .contactP {
        font-size: 20px;
    }
}